* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Acme', sans-serif;
}

body {
  background: #0a0909;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 99;
  padding: 1rem 4%;
  background: rgba(10, 9, 9, 0);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.8rem;
  color: #f9a826;
  font-weight: 400;
  cursor: default;
  width: 5.5625rem;
  height: 2rem;
  line-height: 1.89875rem;
  transform: rotate(0.12deg);
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  justify-content: center;
  flex-grow: 2;
  margin: 10px 20px;
}

.nav-links a {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f9a826;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
}

.menu-icon:hover {
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.2);
}

/* nav mobile v */
@media (max-width: 768px) {
  nav {
    padding: 0.5rem 4.75%;
    height: auto;
    top: 0;
    left: 0;
  }

  .logo {
    width: 5.5625rem; /* 89px to rem */
    height: 2rem; /* 32px to rem */
    font-size: 1.5rem; /* 24px to rem */
    line-height: 1.89875rem; /* 30.38px to rem */
    position: absolute;
    top: 1.886875rem; /* 30.19px to rem */
    left: 2.375rem; /* 38px to rem */
    transform: rotate(0.12deg);
  }

  .menu-icon {
    display: block;
    position: relative;
    width: 4rem; /* 64px to rem */
    height: 3.375rem; /* 54px to rem */
    top: 0.6875rem; /* 11px to rem */
    left: 22.25rem; /* 356px to rem */
    opacity: 1;
    padding-left: 90px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    padding: 1rem;
    transition: background 0.3s ease;
  }

  .nav-links a:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

#home {
  padding-top: 100px;
  display: flex;
}

.headline-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  color: #fff;
}

.headline {
  width: 26.5rem;
  top: 15.8125rem;
  left: 7.25rem;
  opacity: 1;
  font-family: 'Acme' sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 5.063rem;
  text-align: left;
  justify-content: flex-start;
  color: #fff;
}

.hello {
  color: #fff;
}

.headline-h2 {
  width: 2.063rem;
  top: 22.12rem;
  left: 7.28rem;
  gap: 0;
  opacity: 1;
  transform: rotate(0.92deg);
  font-family: 'Actor', sans-serif;
  font-size: 2.67rem;
  font-weight: 400;
  line-height: 3.06rem;
  text-align: left;
  color: #fff;
}

/* Media Query for Mobile Version */
@media (max-width: 768px) {
  .headline {
    width: 25.74rem; /* Convert 257.4px to rem */
    height: 3.1rem; /* Convert 31px to rem */
    font-family: 'Acme', sans-serif;
    font-size: 2.5rem; /* Convert 40px to rem */
    font-weight: 400;
    line-height: 3.15rem; /* Convert 50.64px to rem */
    text-align: left;
    color: #fff; /* White color */
    position: relative; /* Ensure position context */
    top: 31.78rem; /* Adjust as needed */
    left: 3.43rem; /* Adjust as needed */
    opacity: 1;
  }
}

@media (max-width: 768px) {
    .headline-h2 {
    width: 11.68rem;
    font-family: 'Acme', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.58rem;
    text-align: left;
    position: relative;
    top: 36.56rem;
    left: 5.49rem;
    opacity: 1;
    transform: rotate(-0.37deg);
  }
}

.intro {
  width: 43.5rem;
  top: 27.9375rem;
  left: 7.25rem;
  opacity: 1;
  font-family: 'Actor' sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.40625rem;
  text-align: left;
  color: #fff;
}

@media (max-width: 768px) {
  .intro {
    width: 20.32rem;
    height: 7.81rem;
    font-family: 'Acme', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.58rem;
    text-align: left;
    color: #fff;
    position: relative;
    top: 40.20rem;
    left: 3.44rem;
    opacity: 1;
  }
}

.highlight {
  color: #ED9D02;
}

.home-image {
  width: 25.7556rem;
  position: absolute;
  top: 13.9375rem;
  left: 54.875rem;
  opacity: 1;
}

.home-image1 {
  width: 18.028rem;
  position: absolute;
  top: 19.145rem;
  left: 57.425rem;
  opacity: 1;
}

@media (max-width: 768px) {
  .home-image {
    width: 20.574rem;
    height: 20.141rem;
    position: absolute;
    top: 8.2rem;
    left: 9.124rem;
    margin-bottom: 900px;
    opacity: 1;
  }

  .home-image1 {
    width: 13.0625rem;
    height: 13.0625rem;
    position: absolute;
    top: 13.142rem;
    margin-left: 1.0rem;
    margin-bottom: 900px;
    opacity: 1;
    transform: rotate(0.42deg);
  }
}

.social-icons {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  position: absolute;
  top: 41.3125rem;
  left: 8.03125rem;
  opacity: 1;
}

.social-icons img {
  width: 3.5rem;
  height: 2.5625rem;
  transition: transform 0.3s ease; 
  padding-bottom: 1px;
}

.social-icons img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .social-icons {
    display: flex;
    gap: 0.4rem;
    margin-top: 1.5rem;
    justify-content: flex-start;
  }

  .social-icons img {
    width: 2.56rem;
    height: 1.51rem;
    transform: rotate(-0.1deg);
    opacity: 1; 
    transition: transform 0.3s ease;
  }

  .social-icons img:hover {
    transform: scale(1.1) rotate(-0.1deg);
  }
}

@media (max-width: 768px) {
  .image-content {
    margin-left: 0;
    margin-bottom: 2rem;
    text-align: center;
  
  }

  .home-image {
    width: 20.31rem; /* Convert from 326px */
    height: 19.94rem; /* Convert from 319px */
    margin: 0 auto; /* Center the container */
  }

  .home-image1 {
    width: 12.06rem; /* Convert from 209px */
    height: 13.06rem; /* Convert from 209px */
    top: 50%; /* Center it vertically within home-image */
    left: 50%; /* Center it horizontally within home-image */
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  .headline-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .container {
    width: 60%;
  }

  .social-icons {
    justify-content: flex-start;
    margin-left: 0;
    margin-top: 1rem;
  }
}

 .about-myself-section {
  display: flex-start;
  align-items: left;
  max-width: 1200px;
  padding: 80px;
  background-color: #0a0909;
} 

span .dark {
  color: #0a0909;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

#dynamic-headlines h2  {
  width: 16.3125rem; 
  font-family: 'Acme', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  position: absolute; 
  margin-top: 14.375rem; 
  opacity: 1;
  line-height: 3rem;
}

span .white {
  color: #fff;
}

#about-content {
  font-family: 'Acme', sans-serif;
  font-size: 1.5rem;
  line-height: 1.89rem;
  color: #fff;
  text-align: left;
  width: 36.44rem;
  top: 22.83rem;
  margin-top: 3%;
  left: 7.25rem; 
  gap: 0rem; 
  opacity: 1; 
  font-weight: 400;
  text-align: left;
}

#about-content a:hover {
  text-decoration: underline;
}

.skills {
  font-size: 1.4rem;
  color: #fff;
  display: inline-block;
}

#skills-arrow {
  font-size: 1.4rem;
  color: #ED9D02;
  margin-left: 0.4rem;
  vertical-align: middle;
}

#skills-experiences {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
  font-family: 'Acme', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.rem;
  color: #fff;
  margin-top: 3.125rem;
  flex-direction: column;
}

#skills-experiences span {
  font-family: 'Acme', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #fff;
  margin-bottom: 0.5rem;
  width: 2.063rem;
  width: calc(50% - 1rem);
}

.highlight {
  font-weight: bold;
  color: #F9A826;
}

.about-img {
  width: 28.19rem;
  top: 19.75rem;
  left: 54.5rem;
  opacity: 1;
  position:  relative;
  transform: translate(-15%, -40%);
  height: auto;
}


@media (max-width: 768px) {
  .about-myself-section .container {
    flex-direction: column;
    align-items: center;
  }

  #skills-experiences {
    justify-content: center;
  }
}

#project {
  padding: 2rem;
}

#project h1 {
  text-align: center;
  margin-bottom: 1rem; 
}

#project .about-img {
  display: none;
}

.works-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #0a0909;
  border-radius: 8px;
  margin-right: 700px;
}

.container2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.container2 h1 {
  font-size: 2rem; 
  text-align: center;
  height: 15.24rem;
  width: 14.125rem;
  top: 9.524rem;
  left: 33.963rem;
  height: 3.813rem;
}

.project-title {
  width: 8.688rem; /* Converted from 116px to rem */
  top: 15.693rem; /* Converted from 251.08px to rem */
  left: 36.703rem; /* Converted from 130.36px to rem */
  opacity: 1;
  font-family: 'Acme', sans-serif; /* Font family */
  font-size: 1.5rem; /* Converted from 24px to rem */
  font-weight: 400;
  line-height: 1.899rem; /* Converted from 30.38px to rem */
  text-align: left;
  justify-content: center;
  color: #ED9D02;
  border-bottom: 0.2rem solid #F9A826;
  width: calc(100% - 4rem);
  margin: 0; 
}

.project-description {
 top: 18.495rem;
  opacity: 1;
  font-family: 'Acme', sans-serif;
  font-size: 1.5rem;
  line-height: 1.899rem;
  text-align: left;
  color: #fff; 
  margin: 0; 
  width: calc(100% - 1rem);
}

.project-image {
  width: 21.333rem; 
  top: 25.903rem; 
  left: 34.708rem;
  gap: 0;
  border: 0.125rem solid #F9A826;
  display: block;
  margin: 0 auto;
  width: calc(100% - 1.125rem);
}

.project-img {
  position: absolute;
  top: 13.393rem;
  left: 50.063rem;
  opacity: 1;
}

.see-more-btn {
  margin-top: 0.8rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: 'acme';
  background-color: #F9A826;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.see-more-btn:hover {
  background-color: #F9A826;
}
.project-popup {
  position: fixed;
  top: 1%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: rgba(12, 11, 11, 0.74); 
  padding: 3rem;
  border-radius: 10%;
  max-width: 70%;
  max-height: 90%;
  margin-left: 13%;
  margin-top: 3%;
  overflow-y: auto;
  text-align: center;
  font-family: 'acme', sans-serif;
}

.popup-content h2#popup-title {
  color: #F9A826;
}
.popup-content img {
  width: 100%;
  max-width: 100%;
  margin-top: 2%;
  height: auto;
  object-fit: cover;
  border-radius: 2rem; 
  margin-bottom: 1rem;
}

.popup-links {
  margin-top: 1rem;
}

.popup-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

.popup-links a:hover {
  color: #F9A826;
}

.close-btn {
  position: absolute;
  top: 10%;
  right: 19rem;
  font-size: 2rem;
  color: #ED9D02;
  cursor: pointer;
}


/* Responsive Styling */
@media (max-width: 768px) {
  .project-image {
    width: 100%;
    max-width: none;
  }

  .popup-content {
    max-width: 95%;
    max-height: 95%;
  }

  #project .about-img {
    display: none;
  }
}
#certificates {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: 3.25rem;
}

#certificates h2 {
  font-family: 'Acme', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.532rem;
  text-align: left;
  color: #F9A826;
  max-width: 8.31rem;
  top: 12.7rem; 
  left: 7.89rem;
  gap: 0;
  opacity: 1;
  width: calc(100% - 1rem);
}

#certificates-description {
  font-family: 'Acme', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.899rem;
  text-align: left;
  color: #fff;
  margin: 20px 0;
  max-width: 1200px;
  margin-top: 2rem;
  width: 36.457rem;
  top: 16.746rem;
  left: 7.887rem;
}



/* Desktop styles */
@media (min-width: 768px) {
  #certificates {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  #certificates-description {
    flex: 1;
    margin-right: 20px;
  }

  .about-img {
    margin-top: 0;
    margin-bottom: 0;
  }

  #certification-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

  }

  #certification-content div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #certification-content img {
  width: 100%;
  height: auto;
}
}

/* Mobile styles */
@media (max-width: 767px) {
  .about-img {
    display: none; /* Hide image in mobile view */
  }

  #certificates {
    flex-direction: column;
  }

  #certificates-description {
    margin-bottom: 20px;
  }

  #certification-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #certification-content div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #certification-content img {
    width: 100%;
    height: auto;
  }
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form h2 {
  width: 17.74rem;
  height: 7rem; 
  top: 11.37rem;
  margin-left: 17.40rem;
  gap: 0rem;
  opacity: 1;
  font-family: 'Acme', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.16rem;
  color: #fff;
}

.contact-img {
  gap: 0rem;
  opacity: 1;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 30.46rem;
  top: 17.75rem;
  left: 52.31rem;
  opacity: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-right: auto;
  margin-left: auto;
  max-width: 500px; 
  border: none;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-control label {
  font-weight: bold;
    width: 28rem;
    height: 2.88rem; /* Converted from 46px to rem */
    top: 19.59rem; /* Converted from 313.54px to rem */
    left: 16.63rem; /* Converted from 266px to rem */
    gap: 0;
    border-radius: 3.125rem 0 0 0;
    border: 0.063rem 0 0 0;
    opacity: 1;
    font-family: 'Acme', sans-serif;
    font-size: 1.5rem; /* Adjust font size as needed */
    font-weight: 400;
    line-height: 1.899rem; /* Adjust line height as needed */
    text-align: left;
  }

input[name="name"],
input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ED9D02;
  border-radius: 24px;
  background-color: #6E6E6E;
  color: #fff;
  font-family: 'acme';
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.583rem;

}

button {
  width: 12rem;
  top: 51.21rem; 
  left: 23.58rem;
  gap: 0;
  border-radius: 24px;
  border: 0.063rem solid #ED9D02;
  opacity: 1;
  background-color: #F9A826;
  color: #fff;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 8rem;
}

button:hover {
  background-color: rgb(187, 140, 23, 0.87); 
}

.error-message {
  color: red;
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Actor';
  font-weight: 400;

}
/* Desktop styles */
@media (min-width: 768px) {
  .contact-form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .container {
    flex: 1;
  }

  contact-img {
    max-width: 400px; /* Adjust size as needed */
    height: auto;
    margin-left: 20px; /* Space between form and image */
    opacity: 0;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .contact-form {
    flex-direction: column;
  }

  .contact-img {
    display: none; /* Hide image in mobile view */
  }
}


/* Footer styling */
.footer {
  background-color: #0a0909; 
  color: #ED9D02; /* White text color for contrast */
  padding: 15px 0; /* Top and bottom padding */
  text-align: center; /* Center align text */
  width: 100%; /* Full width */
  position: relative; /* Ensures proper stacking context */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content if needed */
  text-align: center;
}

.footer .container-footer {
  max-width: 1200px; /* Adjust to fit your design */
  width: 100%; /* Full width inside container */
}

.footer p {
  margin: 0;
  font-size: 1.2rem; 
  font-weight: 400;
  font-family: 'Actor';
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    padding: 15px 0; /* Reduce padding on smaller screens */
  }

  .footer p {
    font-size: 14px; /* Smaller font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 10px 0; /* Further reduce padding on extra small screens */
  }

  .footer p {
    font-size: 12px; /* Even smaller font size for very small screens */
  }
}
